<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-menu">
          <ul>
            {{ range site.Menus.footer }}
            <li><a href="{{ .URL | relLangURL }}">{{ .Name }}</a></li>
            {{ end }}
          </ul>
        </div>
        <div class="footer-menu">
          <ul>
            {{ range .Site.Params.social }}
            <!-- <li><a href="{{ .link | relLangURL }}">{{ .title }}</a></li> -->
            <li><a href="{{ .link | safeURL }}"><i class="{{ .icon }}"></i></a></li>

            {{ end }}
          </ul>
        </div>
        <p class="copyright">{{ site.Params.copyright | markdownify }}</p>
      </div>
    </div>
  </div>
</footer>
